/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-weight-400);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.mobile-width {
  width: var(--mobile-width);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--clamp-width);
  padding-inline-start: var(--clamp-header-x);
  padding-inline-end: var(--clamp-header-x);
  padding-block-start: var(--clamp-header-y);
  padding-block-end: var(--clamp-header-y);
  font-family: var(--accent-font);
  row-gap: 20px;
  text-transform: uppercase;
  margin: 0 auto;
}

@media (width <= 375px) {
  .mobile-width {
    width: 100vw;
  }
}

.header__title {
  font-size: var(--clamp-title);
}

.header__subtitle {
  font-size: var(--clamp-subtitle);
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.content__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: var(--clamp-width);
}

.card {
}

.card__content {
  border: 2px solid var(--color-black);
  width: var(--clamp-width);
  margin-top: -6px;
}

.card__text {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  line-height: 21px;
  padding: 25px;
  font-family: var(--main-font);
  font-size: 18px;
}

.card__title {
  border: 2px solid var(--color-black);
  padding: 3px 10px 4px 10px;
  font-family: var(--main-font);
  font-size: 18px;
  width: var(--clamp-width);
  font-variation-settings: "wght" 700;
}

.card__wrapper {
  position: relative;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 27px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 14px;
  mix-blend-mode: hard-light;
  text-shadow: 1px solid var(--color-white);
  z-index: 1  ;
}

@supports (
  (text-stroke: 1px rgb(255 255 255)) or
    (-webkit-text-stroke: 1px rgb(255 255 255))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--color-white);
    text-stroke: 1px var(--color-white);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .card__label {
    right: 13px;
  }
}

.card__subtitle {
  width: var(--clamp-card-subtitle);
  filter: drop-shadow(4px 4px 5px var(--color-black));
}

.card__image {
  width: 700px;
  height: 700px;
}

@media (width <= 375px) {
  .card__image {
    width: 375px;
    height: 375px;
  }
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline-end: 1.56rem;
  padding-block-end: 1.56rem;
  column-gap: 0.25rem;
}

.button__heart {
  background-color: transparent;
  border: 0;
  align-self: flex-end;
}

.heart {
  width: 27px;
  height: 1.56rem;
}

.button__like {
  background-color: transparent;
  width: 130px;
  height: 38px;
  padding: 9px 17px 9px 17px;
}

.button__text {
  text-align: center;
  font-family: var(--accent-font);
  font-size: 0.875rem;
  line-height: 12.6px;
}

.footer__button {
  display: flex;
  width: 335px;
  height: 51px;
  border: 2px solid var(--color-black);
  background-color: transparent;
  align-self: center;
  justify-content: space-around;
}

@media (width <= 375px) {
  .footer__button {
    flex-direction: column;
  }
}

.footer {
  padding-top: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.footer__floppy {
  height: 21px;
  width: 21px;
  align-self: center;
}

@media (width <= 375px) {
  .footer__floppy {
    height: 39px;
    width: 39px;
  }
}

.footer__button {
  display: flex;
  width: 335px;
  height: 51px;
  border: 2px solid var(--color-black);
  background-color: transparent;
  align-self: center;
  justify-content: space-around;
}

@media (width <= 375px) {
  .footer__button {
    width: 311px;
    height: 85px;
    justify-content: center;
    padding-left: 15px;
  }
}

.footer__subtitle {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  align-self: center;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 353px;
  min-height: 191px;
  padding: 30px;
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

body:has(dialog[open]) {
  overflow: hidden;
}

.dialog__content {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 30px;
}

.dialog__floppy {
  height: 40px;
  width: 40px;
}

.dialog__subtitle {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 21px;
  max-width: 234px;
  text-transform: uppercase;
  padding-left: 20px;
}

.dialog__button {
  text-transform: uppercase;
  background-color: transparent;
  width: 293px;
  height: 38px;
  font-family: var(--accent-font);
}

.card__image_filter {
  filter: invert(105%);
}

.card__image_preparing {
  filter: grayscale(50%);
}

.card__image_list {
  filter: saturate(10.5);
}

.card__image_question {
  filter: hue-rotate(156deg);
}

.card__image_run {
  filter: brightness(5);
}

.card__image_strategy {
  filter: blur(4px);
}

.card__image_when {
  filter: contrast(50%);
}

.card__image_now {
  filter: sepia(40%);
}
