/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-weight-400);
  background-size: cover;
  background-image: var(--background-gradient);
  background-attachment: fixed;
}

.header {
  padding-inline-start: var(--clamp-header-x);
  padding-inline-end: var(--clamp-header-x);
  padding-block-start: var(--clamp-header-y);
  padding-block-end: var(--clamp-header-y);
  font-family: var(--accent-font), fantasy;
  width: 100vw;
}

.header__border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  text-transform: uppercase;
  border: 2px solid var(--color-black, rgb(0 0 0));
  padding-block-start: var(--clamp-border-y-700);
  padding-block-end: var(--clamp-border-y-700);
  width: var(--clamp-width);
  margin: 0 auto;
  background-color: var(--color-white);
}

@media (width <= 375px) {
  .header__border {
    padding-inline-start: var(--clamp-border-x-375);
    padding-inline-end:  var(--clamp-border-x-375);
    padding-block-start: var(--clamp-border-y-375);
    padding-block-end: var(--clamp-border-y-375);
  }
}

.header__title {
  font-size: var(--clamp-title);
}

.header__subtitle {
  font-size: var(--clamp-subtitle);
  display: flex;
  justify-content: center;
}

@media (width >= 375px) {
  .header__subtitle {
    width: 100vw;
  }
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.content__item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.card__content {
  border: 2px solid var(--color-black, rgb(0 0 0));
  width: var(--clamp-width);
  background-color: var(--color-white);
}

.card__text {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  line-height: 21px;
  padding: 24px;
  font-size: 18px;
}

.card__title {
  border: 2px solid var(--color-black, rgb(0 0 0));
  padding: 3px 10px 4px 10px;
  font-size: 18px;
  width: var(--clamp-width);
  font-variation-settings: "wght" 700;
  background-color: var(--color-white);
}

.card__wrapper {
  position: relative;
  height: var(--clamp-width);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 27px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 14px;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px var(--color-white, rgb(255 255 255));
  filter: drop-shadow(0px 0px 2px var(--color-black, rgb(0 0 0)));
  z-index: 1;
}

@media (width <= 375px) {
  .card__label {
    top: 22px;
    right: 13px;
  }
}

@supports (
  (text-stroke: 1px rgb(255 255 255)) or
    (-webkit-text-stroke: 1px rgb(255 255 255))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--color-white, rgb(255 255 255));
    text-stroke: 1px var(--color-white, rgb(255 255 255));
    text-shadow: none;
  }
}

.card__subtitle {
  width: var(--clamp-card-subtitle);
}

.card__image {
  width: var(--clamp-width);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  column-gap: 6px;
}

.button__text {
  text-align: center;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  position: relative;
  color: var(--color-white, rgb(255 255 255));
  mix-blend-mode: difference;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.dialog {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.dialog__floppy {
  height: 21px;
  width: 21px;
  align-self: center;
  mix-blend-mode: hard-light;
  background-color: var(--color-white, rgb(255 255 255));
}

@media (width <= 375px) {
  .dialog__floppy {
    height: 39px;
    width: 39px;
  }
}
.dialog__button {
  display: flex;
  width: 338px;
  height: 56px;
  border: 2px solid var(--color-black, rgb(0 0 0));
  background-color: var(--color-white, rgb(255 255 255));
  position: relative;
  justify-content: space-evenly;
  cursor: pointer;
}

@media (width <= 375px) {
  .dialog__button {
    width: 310px;
    height: 84px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
}

@media (width <= 375px) {
  .dialog__floppy {
    width: 28px;
    height: 28px;
  }
}

.dialog__subtitle {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 12.6px;
  align-self: center;
  padding-bottom: 2px;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.modal[open]::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

body:has(dialog[open]) {
  overflow: hidden;
}

.modal__content {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.modal__floppy {
  height: 40px;
  width: 40px;
}

.modal__subtitle {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 21px;
  max-width: 234px;
  text-transform: uppercase;
  padding-left: 20px;
}

.modal__button {
  text-transform: uppercase;
  background-color: transparent;
  width: 293px;
  height: 38px;
  font-family: var(--accent-font), fantasy;
  border: 2px solid var(--color-black, rgb(0 0 0));
  cursor: pointer;
}

.filter-invert {
  filter: invert(25%);
}

.filter-grayscale {
  filter: grayscale(50%);
}

.filter-saturate {
  filter: saturate(0.7);
}

.filter-hue {
  filter: hue-rotate(156deg);
}

.filter-brigthness {
  filter: brightness(60%);
}

.filter-blur {
  filter: blur(4px);
}

.filter-contrast-hue {
  filter: contrast(50%) hue-rotate(200deg);
}

.filter-sepia {
  filter: sepia(40%);
}
